/*
Light blue     #4595D1
Dark blue      #16355E
Grey           #565656

Status indicators
red            #ED1F24

Class status indicators
yellow        #F1EB5B
light blue    #74E2CC
light red     #EE5E84
light green   #7EC573
light grey    #EFEFF0
 */


/**************************************/

/**********CSS for Body**********/

hr {
     margin-top: -0.5em;
}

.loginForm {
  width: 250px;
  height: 300px;
  background-color: #4595D1;
  margin: 0 auto;
  margin-top: 100px;
  padding-top: 10px;
  position: relative;
  transform: translateY(-10%);
}

.loginHeader {
  text-align: center;
  
  /*** from baseTemplate.pageHeader ***/
  
  height: 60px;
  padding-top: 10px;

  background-color: #4595D1;
  color: white;
  text-align: center;
  vertical-align: middle;
    font-family: titleFont;
    font-size: 35px;
}

.loginName {
  color: white;
  font-size: 40px;
  font-weight: 200;
  letter-spacing: 2px;
}

.inputText {
  width: 90%;
  color: #727170;
  font-weight: 200;
  padding: 4px;
  padding-left:10px;
  border: 0px solid black;
  margin-bottom: 5px;
  background-color: white;
}

.submitText {
  width: 90%;
  color: black;
  font-weight: 200;
  padding: 4px;
  padding-left:10px;
  border: 0px solid black;
  margin-bottom: 5px;
  background-color: white;
}

.message{
  color: white;
  margin-bottom: 10px;
}

.selectText{
  color: white;
  font-size: 20px;
  padding-top: 5px;
  margin-bottom: 10px;
  border-top: solid, black;
}

.formSelect{
  color: white;
  text-align: left;
  padding-left: 10px;
  font-size: 15px;
}



.popup{
  padding:10px; 
  background-color: #FFFFFF;
  height: 150px;
  text-align: center;
  padding-top: 70px;
}


.buttonStyleSelCourses{
  background-color: #565656;
  color: white;
  padding: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
  font-style: arial;

}


/**************************************/

/**********CSS for footer**********/

.footer {
    position: fixed;
  bottom: 0;
    width: 100%;
  height: 30%;
  background-color: #EFEFF0;
  text-align: left;
  padding-top: 40px;
  padding-left: 40px;
  color: #16365D;
}

.footerTitle {
  font-size: 20px;
}

.footerText {
  width: 325px;
  word-wrap: normal;
  float: left;
}