/**************************************/

/**********CSS for Body**********/

hr {
     margin-top: -0.5em;
}

.loginForm {
  width: 250px;
  height: 250px;
  background-color: #4595D1;
  margin: 0 auto;
  margin-top: 100px;
  position: relative;
  transform: translateY(-10%);
}

.loginHeader {
  text-align: center;
  
  /*** from baseTemplate.pageHeader ***/
  
  height: 60px;
  padding-top: 10px;

  background-color: #4595D1;
  color: white;
  text-align: center;
  vertical-align: middle;
    font-family: titleFont;
    font-size: 35px;
}

.loginName {
  color: white;
  font-size: 40px;
  font-weight: 200;
  letter-spacing: 2px;
}

.inputText {
  width: 90%;
  color: #727170;
  font-weight: 200;
  padding: 4px;
  padding-left:10px;
  border: 0px solid black;
  margin-bottom: 5px;
  background-color: white;
}

.submitText {
  width: 90%;
  color: black;
  font-weight: 200;
  padding: 4px;
  padding-left:10px;
  border: 0px solid black;
  margin-bottom: 5px;
  background-color: white;
}



.proud {
    position: relative;
  bottom: 0;
    width: 100%;
  text-align: center;
  margin-bottom: 50px;
  color: #16365D;
  margin-top: 50px;
  line-height: 50px;
}




/**************************************/

/**********CSS for footer**********/

.footer {
    position: fixed;
  bottom: 0;
    width: 100%;
  height: 30%;
  background-color: #EFEFF0;
  text-align: left;
  padding-top: 40px;
  padding-left: 40px;
  color: #16365D;
}

.footerTitle {
  font-size: 20px;
}

.footerText {
  width: 325px;
  word-wrap: normal;
  float: left;
}