.submission{
	border: 1px solid #4595D1;
	overflow: auto;
	margin-bottom: 10px;
	padding: 5px;
}
	.courseTitle{
		color: #4595D1;
		font-weight: bold;
		margin-top: 5px;
		margin-left: 5px;
	}

	.assignmentTitle{
		margin-top: 0px;
		margin-left: 5px;
		margin-bottom: 0px;
		font-size: large;
	}

	.grade{
		margin-top: 0px;
		margin-left: 5px;
		margin-bottom: 0px;
		font-weight: bold;
	}

	.instructionsFile{
		margin-top: 0px;
		margin-left: 5px;
		margin-bottom: 0px;
	}

#pdf{
	height: 80vh;
}

.assignmentOption{
	min-height: 75px;
	margin-bottom: 10px;
	background-color: #EFEFF0;
	padding: 20px;
	text-align: center;
	font-size: 16px;
	overflow: auto;
}

.selectedOption{
	background-color: #808080;
	min-height: 75px;
	margin-bottom: 10px;
	padding: 20px;
	text-align: center;
	font-size: 16px;
	overflow: auto;
}

.gradeHeader{
	width: 22%;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 10px;
	min-height: 75px;
	background-color: #EFEFF0;
	text-align: center;
	font-weight: bold;
	border-left: 1px solid #4595D1;
	border-right: 1px solid #4595D1;
	border-top:  1px solid #4595D1;
	padding: 15px;
}

.gradeBody{
	width: 22%;
	margin-left: 2px;
	margin-right: 2px;
	min-height: 50px;
	text-align: center;
	padding: 15px;
	border-left: 1px solid #4595D1;
	border-right: 1px solid #4595D1;
	border-bottom:  1px solid #4595D1;
}

.gradeCommHeader{
	width: 50%;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 10px;
	min-height: 75px;
	background-color: #EFEFF0;
	text-align: center;
	font-weight: bold;
	border-left: 1px solid #4595D1;
	border-right: 1px solid #4595D1;
	border-top:  1px solid #4595D1;
	padding: 15px;
}

.gradeCommBody{
	width: 50%;
	margin-left: 2px;
	margin-right: 2px;
	min-height: 50px;
	padding: 15px;
	border-left: 1px solid #4595D1;
	border-right: 1px solid #4595D1;
	border-bottom:  1px solid #4595D1;
}